# server config
PORT=8085
ENV=development

# database config
DB_HOST=localhost
DB_PORT=5432
DB_USER=jc
DB_PASSWORD=pass1234
DB_NAME=todo

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=0

# google login config
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
